body{
  background: darkgrey;
font-family: "PT Sans", sans-serif;
padding-top:40px;
}

.jumbotron{
background: black url(riselikefenix.github.io/playtendbox/img/main.PNG) no-repeat fixed center;
background-size: 70%;
  }



/*********************
Navbar
*********************/
.logo {
  font-size: 1em;
  font-family: 'Press Start 2P', cursive;
  background: -webkit-linear-gradient(left, #003791 22.5%, #fe0016 35%, #5dc21e 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  padding-bottom: -10px;
  display: block;
}
.navbar-brand a{
  font-size: 1.2em;
}
li.menu-li.center-block{
  padding-top:20px;
}

li.menu-li.center-block:first-child{
  padding-top:20px;
}
.navbar-toggler {
float: right;
}
.menu-li a{
 font-size: 1rem;
 opacity: .87;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
  border-bottom: 4px solid #fe0016;
}
.navigation-link{
  color: #fe0016;
  opacity: .87;
  font-size: 1rem;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
}
.navigation-link:hover{
  color: yellow;
  border-bottom: yellow;
}
.navbar{
  box-shadow: 0px 0px 4px black;
  background: linear-gradient(45deg, gainsboro 50%, darkgrey 50%);
}

.navbar-toggler {
  border: 2px solid white;
  text-decoration: none;
}



/*********************

*********************/




.card{
  margin-bottom: 40px;
  background: darkgrey;
  coor: white;
}


.ssk-group{
  margin: auto
  width: 100%
}


a.btn.btn-warning.btn-block{
  font-family: 'Press Start 2P', cursive;
}
.btn-warning-outline{
color: #fe0016;
border-radius: 0px;
border: 2px solid #fe0016
}
.btn-warning-outline:hover{
  color: white;
  background : #fe0016;
  border-radius: 0px;
  border: 2px solid #fe0016

}



.article-col{
background: darkgrey;

}



.post-author{
  float: left
}

.article-info{
  display: block;
  color: #black;
  opacity: .87;
}



.card-title{
  text-transform: uppercase;
}

.jumbotron{
  height: 80vh;
  margin-top: 40px;
}

.card{
  border: 1px solid gainsboro;
  border-radius: 0px;

}

.post-date{
  float: right;
}

/*.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/






.btn-warning {
    color: white;
    background-color: #fe0016;
    border-color: #fe0016;
    border-radius: 0px;
}

p{
  color: white;
}
.btn-warning:hover {
    color: white;
    background-color: yellow;
    border-color: yellow;
    border-radius: 0px;
}

.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.postimg{
  width: 100%
}



p{
  font-size: 1.125em;
  color #797e83;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

.img-fluid{
margin: auto;
}

.post__title{
font-size: 1.75em;
text-transform: uppercase;
margin: 15px, 0;
}

.btn{
  font-weight: 400;
  margin: 1em 0 2em;
}




.jumbotron h1{  color: white;
  text-shadow: 1px 1px 1px #fe0016;
  font-family: 'Bangers', cursive;
}


.card-title a,
.article-col h1{  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: 'Bangers', cursive;
}

.jumbo-overlay{
  background: rgba(0,0,0,.3);
  height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.jumbo-overlay h1{

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}




@media (min-width: 720px){
.center-block {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

}


li.menu-li.center-block{
  padding-top:0px;
}

li.menu-li.center-block:first-child{
  padding-top:0px;
}


.navbar-brand{
  font-size: 1.75em;
}

li.menu-li.p-a-1.text-xs-center{
  display: inline-block;
}

.logo{
    border-bottom: 4px solid #fe0016;
}

}


/********************************
ssk
***********************************/
@media (max-width: 760px) {


div#ssk{
    display: flex;
    margin-top: 82%;
    width: 100%;
    opacity: 1;
}
}
/********************************
Menu CSS
***********************************/

.nav-slider.toggling {
  transition: transform 0.35s, opacity 0.35s;
}

.navbar-toggler {
  float: left;
}

@media (max-width: 543px) {
  .nav-slider {
    opacity: 0;
    position: fixed;
    z-index: 200;
    background-color: #f1f1f1;

    .navbar-nav {
      margin-left: 30px;
      margin-top: 20px;
    }
    .navbar-nav .nav-item {
      float: none;
    }

    .navbar-nav .nav-item .nav-link {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .navbar-nav .nav-item + .nav-item {
      margin-left: 0;
    }
  }
  body.has-active-menu {
    overflow: hidden;
  }
  .nav-mask {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.25s, width 0s 0.25s, height 0s 0.25s;
  }
  .has-active-menu .nav-mask {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.25s;
  }
  /* next */
  .nav-slider {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }
  .has-active-menu .nav-slider {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 320px) and (max-width: 543px) {
  .nav-slider {
    width: 300px;
    transform: translateX(-300px);
  }
}

button.navbar-toggler.hidden-sm-up.pull-sm-right{
  float: right;
}
