<!-- Capture and store URL-->

{% capture location %} {{ page.url | split: "/" }} {% endcapture %}








<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <div class="container">
    <class="row">

  <button class="navbar-toggler hidden-sm-up pull-sm-right" type="button">
    &#9776;
  </button>
<div class="col-sm-push-1 col-sm-4">
  <a class="navbar-brand pull-sm-left m-r-0 logo" href="">PlayTendBox</a>
</div>
  <div class="nav-slider ">
    <ul class="nav navbar-nav text-xs-center">
      <div class="col-sm-1">
      </div>
      {% for page in site.pages %}

       {% if page.title %}
      <div class="col-sm-2">
      <li class="menu-li  ">
         <a class="navigation-link" href="{{page.url | prepend: site.baseurl}}">{{page.title}}</a>
       </li>
     </div>
         {% endif %}
      {% endfor %}
    </ul>
      </div>
   <div class="nav-mask"></div>
</div>
</div>
</nav>


 <!-- <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">


        <a class="navbar-brand pull-sm-left m-r-0 logo" href="">PlayTendBox</a>
        <button class="navbar-toggler hidden-md-up " type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
         &#9776;
        </button>
  <div class="collapse navbar-toggleable-md clearfix" id="exCollapsingNavbar2" >
    <ul class="nav navbar-nav text-xs-center pull-md-right ">
      {% for page in site.pages %}
   Compare Page Title To URL-->
      <!-- {% if page.title %}
      <div class="col-md-2">
      <li class="menu-li center-block ">
         <a class="navigation-link" href="{{page.url | prepend: site.baseurl}}">{{page.title}}</a>
       </li>
     </div>
         {% endif %}
      {% endfor %}
    </ul>
  </div>
  </div>
</div>
</div>
</div>
</nav> -->
